.m {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  background-color: cyan;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.f {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  background-color:darkmagenta;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

#nameList {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;

}

#favoriteList {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  border-bottom: 3px solid green;
  align-items: center;
}

.SearchField {
  display: flex;
  margin: auto;
  margin-top: 2em;
  height: 30px;
  width: 350px;
  border: 3px solid purple;
  border-radius: 25px;
  font-size: 24px;
  font-style: italic;
  color: darkgreen;
  padding: 20px;
}